<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="<nombre de tu cadena de conexion>"
		connectionString="Data Source = <Ruta de tu servidor de BD>;
		Initial Catalog = <Nombre de tu BD>; Integrated Security = True;
		user=<username de tu usuario de sql server>;
		pwd = <contraseña de tu usuario de sql server>;" 
		providerName="System.Data.SqlClient"/>-->
		<add name="cnxString" connectionString="Data Source = ML-RefVm-282052;Initial Catalog = BDPrueba; Integrated Security = True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>